h1 {
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    flex: 1;
}

nav a{
    display: block;
    background-color: #2aabd2;
    border: solid .1rem;
    padding: .5rem;
    text-decoration: none;
    text-align: center;
    color: black;
}

nav a:hover{
    background-color: #00b3ee;
    margin-left: .2rem;
    margin-right: .2rem;
}